html {
  box-sizing: border-box;
}
*,
*::before,
*::after
 {
	box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  width:100%;
  font-family:"Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight:bold;
  color: #ffffff;
  background-color: #849d8f;

}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width:1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 27px;

}
.main-header {
  background-color: transparent;
  z-index: 1;
  margin-bottom: -65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-header-catalog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  width: 100%;
}
.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 20px;
}
.modal-basket{
  display: none;}
  a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.main-navigation a {
  line-height: 18px;
  padding: 10px;
  margin-right: 20px;
}
.site-navigation>li>a {
  border-radius: 30px;
}
    .main-header span,
    .main-header-catalog span,
    p span,
  .footer-logo span {
      border-bottom: 1px solid #a7bdb1;
       }
  .footer-logo a:hover span {
      border-bottom: 1px solid #f48468;
          }
          .footer-logo a {
            font-weight: normal;
          }

.catalog-active {
  text-decoration: none;
}
.site-navigation,
.submenu,
.ice-cream-slides {
  list-style: none;
  margin: 0;
  padding: 0;

}
.main-navigation a:hover {
	color: #000;
	background-color: #fff;
}
.main-navigation a:hover>span {
  border: none;
}

.site-navigation a:active {
	color: #fff;
	background-color:#d07058;
}
.header-catalog {
  position: relative;
}
.submenu {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  left:0;
  z-index: 10;
}
.header-catalog:hover>.submenu {
  display: block;
}
.submenu a {
  width: 145px;
  display: block;
  padding:10px 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
  background-color: #fff;
  box-shadow: 0 20px 20px #57655d;

 }

.submenu a:visited; {
	background-color: #d07058 ;
  color: #ffffff;
}
.submenu a:hover {
	background-color: #fbded7;
}
.submenu a:active {
	background-color:#f6b5a5;
  color: #323232;
	}
.submenu li:first-child a {
   font-weight: bold;
   border-bottom: 2px solid #9db1a5;
   border-radius: 5px 5px 0 0;
	}
.submenu li:last-child a {
   border-radius:0 0 5px 5px;
}

.main-navigation .button,
.navigation-buttons .button {

  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #9db1a5;
  border: none;
  border-radius:30px;
  position: relative;
}
.navigation-buttons {
  display: flex;
  align-items: center;
}
.seach {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/loupe.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: relative;

}
.modal-close-login {
  width: 96px;
  height: 35px;
  position: absolute;
  top: -46px;
  left: 120px;
   background-image: url(../img/entrance.svg);
   background-repeat: no-repeat;
   background-position: 10px;
   background-color: #fff;
   border: none;
   border-radius: 30px;
}
.seach:hover {
   background-image: url(../img/Лупа3.png);
   background-repeat:  no-repeat;
   background-position:  center;
}
.seach:hover + .modal-seach {
  display: block;

}

.login::before {
  content:"";
  width: 20px;
  height: 20px;
  background-image: url(../img/login.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: absolute;
  left:8px;

}
.login:hover::before {
  background-image: url(../img/entrance.svg);
  background-repeat:  no-repeat;
  background-position:  center;
}
.basket-main::before {
  content:"";
  width: 20px;
  height: 20px;
  background-image: url(../img/basket.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: absolute;
  left:8px;
}

.basket-catalog::before {
  content:"";
  width: 20px;
  height: 20px;
  background-image: url(../img/basket-red.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: absolute;
  left:8px;
}
.navigation-buttons .basket-catalog:hover + .modal-basket {
  display: block;
}
/*
.basket-main:hover::before {
  background-image: url(../img/basket-red.svg);
  position: absolute;
  left: 8px;
}*/
.navigation-buttons .login,
.navigation-buttons .basket-main,
.navigation-buttons .basket-catalog {
  padding: 8px 22px;
  padding-left: 40px;
  margin-left: 8px;
  position: relative;
}
.navigation-buttons .basket-catalog {
  background-color: #fff;
  color: #323232;
}
.navigation-buttons .button:hover {
  background-color: #ffffff;
  color: #323232;
}

.time-work {
	 font-size: 14px;
   line-height: 16px;
}
.phone {
	 font-size: 22px;
   line-height: 24px;
}
.modal a {
	 font-size: 13px;
   line-height: 24px;
	 color: #323232;
   font-weight:normal;

}

.container .button,
.modal .button {
	 font-size: 18px;
   line-height: 24px;
	 color: #fff;
	 font-weight: bold;
	 background-color: #f16742;
   background-image: linear-gradient(to top,#e74a35,#f26843);
	 border:none;
   box-shadow: 0 2px 2px #323232;
   border-radius:30px;}
.modal-feedback .button {
  width: 137px;
  height: 47px;
  position: absolute;
  right: 30px;
}

.container .button:hover,
.modal .button:hover,
.caption .button:hover {
	background-color:#f48468;
  cursor: pointer;
}
.container .button:active,
.modal .button:active,
.caption .button:active {
	 background-color:#db5238;
}
.catalog-active a {
	padding: 10px;
	font-size: 16px;
  line-height:18px;
	text-align: center;
  background-color: #f16742;
  text-decoration: none;
}
.caption .button {
	 font-size: 32px;
   line-height: 44px;
   border-radius:30px;
   left:425px;
   top: 540px;
   width: 275px;
   height: 68px;
   text-shadow:0 2px 5px #323232;
}
.caption .button:hover {
  background-image: linear-gradient(to bottom,#f48568,#ec6f5e);
  box-shadow: 0 2px 2px #323232;
}
.caption .button:active {
  box-shadow:inset 0 2px 2px #323232;
  background-image: linear-gradient(to top,#e74a35,#f26843);
}

.present-list {
    width: 100%;
}
.present-list h3 {
	 font-size: 35px;
     line-height: 41px;
}
.present-list p {
	 font-size: 18px;
}
.present-item {
  border-radius: 20px;
  height: 230px;
  width:49%;
}
.present-item:first-child {
  background-image: url(../img/raspberries.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.present-item:last-child {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.catalog-list {
    width: 100%;
}
.catalog-list p {
	font-weight:normal;
}

.info {
  font-size: 16px;
  line-height: 22px;
	background-color: #ebdfc6;
	background-image: url(../img/%D0%92%D0%B0%D1%84%D0%BB%D1%8F%20%D0%BF%D0%B0%D1%82%D1%82%D0%B5%D1%80%D0%BD.jpg);
  background-repeat:  repeat;
  background-position:  center;
  color: #323232;
	font-weight:normal;
  padding: 22px 20px;
  padding-left: 20px;
  padding-bottom: 0;
  border-radius: 20px;
  margin-bottom: 40px;
}
.info .about-shop  {
padding: 0;
margin: 0;
padding-bottom: 25px;
}
.info .container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.info p {
  margin: 0;
  padding: 0;
}
.info .container p {
 margin: 0;
 padding: 0;
 padding-left: 50px;
 margin-bottom: 25px;
 margin-left: 10px;
}
.about-shop-left p:first-child::before {
  margin: 0;
  padding: 0;content:"";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -10px;
  background-image: url(../img/ice-cream.svg);
  background-repeat:  repeat;
  background-position:  center;
}
.about-shop-left p:last-child::before {
  content:"";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 80px;
  background-image: url(../img/eco.svg);
  background-repeat:  repeat;
  background-position:  center;
}
.about-shop-right p:first-child::before {
  content:"";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 490px;
  top: -10px;
  background-image: url(../img/cow.svg);
  background-repeat:  repeat;
  background-position:  center;
}
.about-shop-right p:last-child::before {
  content:"";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 490px;
  top: 80px;
  background-image: url(../img/thermometer.svg);
  background-repeat:  repeat;
  background-position:  center;
}
.about-shop-right,
.about-shop-left {
  width: 49%;
}
.info .about-shop,
.blog a {
	  font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: bold;
}
.blog a {
  width: 285px;
	text-decoration: underline;
}
.price-item {
	 font-size: 45px;
   line-height: 45px;
   text-shadow: 0 1px 3px #313235;
   z-index: 2;
}
.kg {
  font-size: 45px;
}
.catalog-list,
.present-list {
     list-style: none;
}
.catalog-list
.icon {
  color: #000;
  font-weight:normal;
}
.blog {
  width:49%;
  height: auto;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px 20px;
  margin: 0;
  background-color: #fff;
  background-image: url(../img/strawberry.jpg);
  background-repeat:  repeat;
  background-position:  center;
  color:#323232;
  font-weight:normal;
}

.blog-message {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    position: relative;
}
.navigation-buttons .button {
  background-color: ##9db1a5;
}

.contacts {
  padding: 30px 25px;
  margin-right: 27px;
  width: 25%;
  height: 305px;
  background-color: #ffffff;
  color: #323232;
  font-weight:normal;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 62px;
}
.contact {
  color: #323232;
  font-weight:bold;
  font-size: 18px;
  line-height: 24px;
}
.documentation,
.footer-social {
  list-style: none;
}
.documentation a {
  color: #ffffff;
  font-weight:normal;
  text-decoration: underline;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 30px;
    list-style:none;
    font-weight:normal;
}
.button-apply {
  width: 145px;
  height: 40px;
  border: 2px solid #fff;
  background-color: #9cb0a4;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  border-radius: 30px;
  margin-top: 18px;
}
.button-apply:hover {
  background-color: #ffffff;
  color:  #323232;
}
.button-apply:active {
  background-color: #eaeaea;
}
.buttons {
  background-color:transparent;
  color: #ffffff;
  border:none;
  border-radius: 50%;
}


label input[type="radio"] {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
}

 label input[type="radio"]::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  top: -5px;
}
label input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
}
label input[type="checkbox"]::before {
 content: "";
 width: 25px;
 height: 25px;
 border: 2px solid #fff;
 display: block;
 position: absolute;
 right: 0;
 top: -5px;
}
.slides {
   border-radius: 50%;
}
.slides:hover,
.buttons:hover {
  background-color:#b2c1b7;
}
.slides:active,
.buttons:active,
.buttons.active {
  background-color: #ffffff;
  color: #000;
}
.slides {
  background-color:transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.container a:hover,
.main-footer a:hover,
.modal a:hover,
.header-contacts a:hover {
  color:#f48468;
}
.visually-hidden     {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.top-ice,
.bold-top-ice,
.top-price-ice,
.variety {
  padding: 7px 18px;
  padding-left: 8px;
  background-color: #9db1a5;
  color: #ffffff;
  border-radius:30px;
}
.top-ice:hover {
  color:  #323232;
	background-color: #ffffff;
}
.modal-seach,
.modal-login {
  display: none;
}
.modal-seach {
  width: 342px;
  height: 83px;
  padding: 20px 15px;
  position:fixed;
  top: 70px;
  right: 270px;
  box-shadow: 0 20px 20px #57655d,inset 0 3px 7px #d7d7d7;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.modal-seach input {
  width: 312px;
  height: 45px;
  border: 1px solid  #d3d3d2;
  padding: 10px;
}

.modal-login {
  width: 280px;
  height: 200px;
  background-color: #f8f7f4;
  text-align: center;
  padding-top: 30px;
  position: fixed;
  top: 60px;
  right: 145px;
  border-radius: 5px;
  box-shadow: 0 20px 20px #57655d,inset 0 3px 7px #d7d7d7;
  background-image: linear-gradient(to top,#d7d7d7,#ffffff);
  z-index: 3;
}
.modal-login p {
  margin: 0;
}
.modal-login input {
   border: 1px solid  #9db1a5;
   margin-bottom: 20px;
   padding: 10px;
}
.modal-login .a {
  position: absolute;
  left: 140px;
}
.modal-login .button {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 30px;
}
.modal-feedback {
  width: 380px;
  height: 370px;
  background-color:#f8f7f4;
  border-radius:10px;
  padding: 25px;
  display:none;
  height: 440px;
  width: 480px;
  position: fixed;
  position: absolute;
  left:50%;
  top: -5px;
  margin-left: -225px;
}
.feedback:hover + .modal-feedback {
  display: block;
  }
.modal-feedback input,
.modal-feedback textarea {
   border: 1px solid  #9db1a5;
   padding: 10px;
   margin-bottom: 4px;
	 width: 270px;
}
.modal-feedback textarea {
	width: 430px;
  box-sizing: border-box;

}
 .feedback {
  width: 240px;
  height: 45px;
  position: absolute;
  right: 57px;
  bottom: 100px;
  margin: auto;;

}
.modal-feedback b {
  color:  #323232;
	font-size: 24px;
  line-height: 28px;
}
.modal-feedback p {
	margin-left:0;
}
/*
.modal-close-seach {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -53px;
  left: 270px;
   background-image: url(../img/Лупа3.png);
   background-repeat: no-repeat;
   background-position: center;
   background-color: #fff;
   border-radius: 50%;
   border: none;
}*/
.modal-basket {
  width: 540px;
  background-color: #f8f7f4;
  color:  #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  border-radius:5px;
  padding: 20px;
  position: absolute;
  right: 40px;
  top: 70px;
  z-index: 2;
}
.modal-basket tr {
  height: 60px;
}
.modal-basket th {
  border-top: 1px solid   #9db1a5;
  font-size: 15px;
  line-height: 18px;
}
.modal-basket table {
    border-collapse: collapse;
}
.modal-basket .button {
  width: 170px;
  height: 40px;
  margin-left: 340px;
}
.caption {
  position: relative;
}
.caption img {
  width: 1146px;
  margin-left: -40px;
  margin-right: 40px;
}
.caption h2,
.caption .button {
  position: absolute;
  margin: 0;
  padding: 0;
}
.slide-1 h2,
.slide-2 h2 ,
.slide-3 h2  {
  left:240px;
  top:390px;
}

.button-slides {
  position: absolute;
  left:0;
  top: 550px;
}
.present-item {
  position: relative;
  margin-bottom: 30px;
}
.present-item .button,
.present-item h3,
.present-item p {
  position: absolute;
  margin: 0;
}
.present-item h3 {
  top: 25px;
  left: 18px;
}
.present-item p {
  left: 18px;
  top: 70px;
}
.present-item .button {
  right: 18px;
  bottom: 23px;
}
.catalog-list .item,
.catalog-list-all .item {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 26px;
  height:  321px;
  width: 23%;
}
.catalog-list-all .item {
  margin-bottom: 40px;
}
.icon {
  background-image: url(../img/hit.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.catalog-list .price-item,
.catalog-list-all .price-item,
.catalog-list .kg,
.catalog-list-all .kg  {
  position: absolute;
  top: 211px;
  margin: 0;
}
.catalog-list .kg,
.catalog-list-all .kg {
  left: 111px;
  top: 220px;
}
.modal-show {
  display: block;
}
/* ----- Сеточные стили ----- */
.catalog-list .item:last-child {
  margin-right: 0;
}
.button-basket {
  width: 102px;
}
.header-container {
   display: flex;
  align-items: center;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
}
.site-navigation a {
  padding: 10px;
}

.header-contacts {
  position: absolute;
  right: 0;
  top: 70px;
  width: 165px;
  text-align: right;
  z-index: 1;
}
.ice-cream-slides h2 {
	 font-size: 60px;
   line-height: 60px;
   width: 670px;
}

.slide-1,
.slide-2,
.slide-3 {
  position: relative;
 height: 630px;
 margin: 0;
}
.slide-2,
.slide-3 {
  display: none;
}
.present-item img {
  border-radius: 20px;
}
.present,
.catalog {
  width: 100%
}
.catalog {
  margin-bottom: 35px;
}
.present-list,
.catalog-list {

  padding: 0;
  display: flex;
 justify-content: space-between;
}
.present-item .button {
  width: 165px;
  height: 45px;
}


textarea {
  height: 150px;
  width: 425px;
}
textarea,
input {
  border-radius: 5px;

}
* {box-sizing:border-box;}
.post {
 width: 49%;
 height: auto;
 border-radius: 20px;
 background-image: repeating-linear-gradient(-45deg,
   #ffffff 0px, #ffffff 10px,
   #92cdff 10px, #92cdff 20px,
   #ffffff 20px,#ffffff 30px,
   #fe9e90 30px,#fe9e90 40px);
  margin-left:26px;
  padding: 0;
 }

.message {
  font-size: 16px;
  line-height: 22px;
  width:98%;
  padding: 25px;
  padding-bottom: 40px;
  padding-top: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #323232;
  box-sizing: border-box;
  font-weight:normal;
margin: 6px;
  z-index: 1;
}
.message p {
  margin: 0;
  margin-bottom: 25px;
}
.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message .button {
   width: 130px;
  height: 45px;
}
.message input {
  padding: 10px;
  width: 350px;
  box-sizing: border-box;
}

.map {
  width: 105%;
  position: relative;
  margin-left: -27px;
}

.contacts .phone {
    color:   #323232;
  	font-weight: bold;
}
.contacts .button {
  width: 253px;
  height: 47px;
}

.contacts p {
  margin: 0;
  margin-bottom: 20px;
}
.main-footer ,
.documents {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.catalog-buttons {
  margin-top: 35px;
  margin-left:970px;
  margin-bottom: 30px;
}
.filter {
margin-right: 15px;
margin-bottom: 15px;
}
.field {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid pink;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;

}
.field label {
  margin-left: 15px;
}

.breadcrumbs li {
  display:inline-block;
  margin-right: 5px;

}
.catalog-list-all {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  outline: 2px solid blue;
  list-style: none;
  position: relative;

}
.catalog-list-all .item {
  width:267px;
  margin-right:26px;

}
.catalog-list .item img,
.catalog-list-all .item img {
	border-radius: 50%;
}
.catalog-list .item p,
.catalog-list-all .item p {
	text-align: center;
  margin: 0;
  margin-top: 7px;
}
.catalog-list-all .item .button,
.catalog-list .item .button {
	width: 200px;
	height: 45px;
	display: none;
  margin: 20px auto;
}

.catalog-list-all .item:hover,
.catalog-list .item:hover {
	background-color: #9cb0a4;
	border-radius: 5px;
	box-shadow: 0 0 0 10px #9cb0a4;
  margin-bottom: -140px;
  height: 409px;
  z-index: 1;
}
.catalog-list-all .item:hover > .button,
.catalog-list .item:hover > .button {
	display: block;

	}
.catalog-list-all .item:nth-child(4n) {
  margin-right: 0;
}
.social-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #c2cec7;
  background-color: #e6ebe9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button:hover {
background-color: #91cfe9;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-left: -40px;
  margin-right: 10px;

}
.social-button {
  margin-right: 10px;
}
.documentation {
  position: relative;
}
.documentation:first-child::before {
  content:"";
  width: 20px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat:  no-repeat;
  background-position:  center;
  position: absolute;
  left: 15px;
  top: 4px;
}
.filter select {
  background-color: #9db1a5;
  border-radius: 20px;
}
.variety input {
  display: none;
}
.variety label::before {
  content: "";
  width: 25px;
  height: 25px;
 background-image: url(../img/checkbox-off.svg);
 background-repeat: no-repeat;
 display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 15px;
}
.variety input:checked+label::before {
    background-image: url(../img/checkbox-on.svg);
}
.variety input:hover {
    border-color: #fff;
}
.bold-top-ice input {
  display: none;
}
.bold-top-ice label::before {
  width: 25px;
  height: 25px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url(../img/radio-off.svg);
}
.bold-top-ice input:checked+label::before {
  background-image: url(../img/radio-on.svg);
}
.top-ice-price {
  width: 218px;
  height: 40px;
  border-radius: 30px;
  background-color: #aabcb2;
  padding: 5px;
  padding-left: 25px;

}
.range {
  -webkit-appearance:none;
  width: 100px;
  height: 3px;
  outline: none;

}
.range::-webkit-slider-thumb {
    -webkit-appearance:none;
    width: 21px;
    height: 21px;
    border-radius: 21px;
    background-image: url(../img/filter-button.svg);
    cursor: pointer;
}
.range:last-child {
  margin-left: -35px;
}
