
body {
  margin: 0;
  padding: 0;

  font-family:'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight:bold;
  color: #ffffff;


  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation {
  line-height: 18px;
  background-color: #849d8f;

}

.site-navigation,
.submenu,
.ice-cream-slides {
  list-style: none;
}



.site-navigation a:hover,
.site-navigation a:focus {
	color: #000;
	background-color: #fff;
}

.site-navigation a:active {
	color: #fff;
	background-color:#d07058;
}
.submenu {
  display: none;
}

.submenu a {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
	background-color: #fff;
}
.submenu a.new {
		font-weight: bold;
	}

.submenu a:hover {
	background-color: #fbded7;
}

.submenu a:focus {
	background-color: #f6b5a5;
}

.submenu a:active {
	background-color: #d07058;
	}

.main-navigation .button,
.navigation-buttons .button {
   font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #9db1a5;
  border: none;
  border-radius:30px;
}
.navigation-buttons .button:hover {
  background-color: #ffffff;
  color: #323232;
}

.time-work {
	 font-size: 14px;
     line-height: 16px;

}

.phone {
	 font-size: 22px;
   line-height: 24px;

}

.modal a {
	 font-size: 13px;
     line-height: 24px;
	 color: #323232;
     font-weight:normal;
	 text-decoration: underline;
}

.container .button,
.modal .button,
.catalog-active {
	 font-size: 18px;
   line-height: 24px;
	 color: #fff;
	 font-weight: bold;
	 background-color: #f16742;
	 border: none;
   border-radius:30px;
}

.caption .button {
	 font-size: 32px;
   line-height: 44px;
   border-radius:30px;
}

.container .button:hover,
.modal .button:hover,
.caption .button:hover {
	background-color:#f48468;

}

.container .button:active,
.modal .button:active,
.caption .button:active {
	 background-color:#db5238;

}

.ice-cream-slides h2 {
	 font-size: 60px;
     line-height: 60px;


}

.present-list h3 {
	 font-size: 35px;
     line-height: 41px;

}

.present-list p {
	 font-size: 18px;


}

.catalog-list p {
	font-weight:normal;
}

.info {
	background-color: #ebdfc6;
	background-image:url(../img/%D0%92%D0%B0%D1%84%D0%BB%D1%8F%20%D0%BF%D0%B0%D1%82%D1%82%D0%B5%D1%80%D0%BD.jpg);
    color: #323232;
	font-weight:normal;
}

.info .about-shop,
.blog a {
	font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: bold;
}
.price-item {
	 font-size: 60px;
     line-height: 60px;

}
.kg {
  font-size: 45px;

}
.catalog-list,
.present-list {
     list-style: none;
}
.catalog-list
.icon {
  color: #000;
  font-weight:normal;


}
.blog {
	background-color: #fff;
    background-image: url(../img/strawberry.jpg);
    color:#323232;
    font-weight:normal;
}
.blog a {
	text-decoration: underline;
}

.message {
  color: #323232;
  background-color: #ffffff;
  font-weight:normal;
}

.contacts {
  background-color: #ffffff;
  color: #323232;
  font-weight:normal;
}
.contact {
  color: #323232;
  font-weight:bold;
  font-size: 18px;
  line-height: 24px;
}
.documentation,
.footer-social {
  list-style: none;

}

.documentation a,
.footer-logo a {
  color: #ffffff;
  font-weight:normal;
  text-decoration: underline;

}
.breadcrumbs {
    list-style:none;
    font-weight:normal;

}
.button-apply {
  border: 2px solid #fff;
  background-color: #9cb0a4;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  border-radius: 30px;
}
.button-apply:hover {
  background-color: #ffffff;
  color:  #323232;
}
.button-apply:active {
  background-color: #eaeaea;
}
.buttons {
  background-color:transparent;
  color: #ffffff;
  border:none;
  border-radius: 50%;
}

.slides {
   border-radius: 50%;
}
.slides:hover,
.buttons:hover {
  background-color:#b2c1b7;
}
.slides:active,
.buttons:active {
  background-color: #ffffff;
  color: #000;

}
.slides {
  background-color:transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.slides.active {
  background-color: #fff;
}
.visually-hidden {
  visibility: hidden;
}
.container a:hover,
.main-footer a:hover,
.modal a:hover {
  color:#f48468;

}
.top-ice,
.bold-top-ice {
  background-color: #9db1a5;
  color: #ffffff;
  border-radius:30px;
}
.top-ice:hover {
  color:  #323232;
}

